# ROOT node_modules
/node_modules/


# ---------------------------
# FRONTEND (React - pro2)
# ---------------------------
pro2/node_modules/
pro2/build/
pro2/.pnp
pro2/.pnp.js
pro2/.DS_Store
pro2/.env.local
pro2/.env.development.local
pro2/.env.test.local
pro2/.env.production.local
pro2/coverage
# TEMPORARY: ignore large image folder (remove later to push)
pro2/src/components/images/

# ---------------------------
# BACKEND (Node - Server)
# ---------------------------
Server/node_modules/
Server/.env
Server/.DS_Store

# ---------------------------
# COMMON (All Projects)
# ---------------------------
*.log
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
